@font-face {
	font-family: "Rubik", sans-serif;
	src: url('fonts/Rubik-Italic-VariableFont_wght.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "Rubik", sans-serif;
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 500;
}

:root {
	--brand_color: #76B900;
	--gutter: 24px;
	--gap: 24px;
}


canvas, iframe, img, picture, svg, video {
	max-width: 100%;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
	overflow-wrap: break-word;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
  list-style: none;
	font-family: "Rubik", sans-serif;
	color: white;
	box-sizing: border-box;
}

body {
	background-color: #111;
	position: relative;
}

div {
	display: block;
}

.content {
	margin: 0 auto;
	max-width: 1920px;
	box-sizing: border-box;
	background-color: #111;
	font-weight: 400;
  line-height: 24px;
}

.nav {  
	display: flex;  
	justify-content: center;  
	align-items: center;
	color: #999;
	width: 100%;
	max-width: 100%;
}

.nav_item {
	font-size: 16px;
	display: inline-flex;
	padding-right: 24px;
}

.nav_item_link {
	color: #999;
}

.nav_item_link:hover {
	color: #fff;
	transition: .3s;
}

.headerMenu_link {
	display: flex;
	height: 16px;
	margin-left: 8px;
	width: 16px;
}

.header {
    font-family: Rubik,Noto Sans Armenian,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #1a1a1a;
    color: #1a1a1a;
    display: flex;
    height: 72px;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.logo {
    width: 180px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.header_left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.dropdown_menu {
  display: none;
  position: absolute;
  z-index: -10;
	margin-top:50%;
  background-color: #fff;
  list-style: none;
}

.dropdown_menu li {
	white-space: nowrap;
	margin: 12px 50px;
}

.dropdown_menu a {
	color: #1a1a1a;
}

.dropdown_menu a:hover {
	color: var(--brand_color);
	transition: .3s;
}

.nav_item {
  position: relative;
}

.nav_item .dropdown_menu {
  position: absolute;
}

.header_right {
    font-family: Rubik,Noto Sans Armenian,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-200);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    margin-left: auto;
    position: relative;
}

.button {
	background-color: transparent;
	border: 8px solid transparent;
	border-radius: 8px;
	margin-right: 16px;
	transition: .3s;
}

.button:hover {
	background-color: #1a1a1a;
	border-color: #2b2b2b;
}

.avatar {
	margin-right: 12px;
}

.login {
	line-height: 24px;
}

.header_right_divider {
	border-right: 1px solid grey;
	height: 44px;
	margin-right: 16px;
}

.home_section {
	min-height: 736px;
	padding: 184px 0 0;
	position: relative;
}

.home_section_video {
	height: 100%;
	inset: 0;
	object-fit: cover;
	position: absolute;
	width: 100%;
	z-index: -1;

}

.home_section_container_title {
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
	max-width: 448px;
	margin-bottom: 32px;
	text-transform: uppercase;

}

.home_section_container_description {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 48px;
	display: block;
	padding-top: 32px;
	max-width: 544px;
}

.create_account_btn, .green_btn {
	background-color: #76b900;
	border-radius: 8px;
	transition: .25s ease-out;
	padding: 16px 7px;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

.login_btn {
	font-size: 20px;
	padding: 16px 32px;
	background-color: #222;
	border-radius: 8px;
	display: inline-flex;
}

.home_section_action {
	grid-template-columns: 318px 124px;
	display: grid;
	gap: 16px 32px;
}

.home_section_startToPlay {
    color: white;
    font-family: Rubik, Noto Sans Armenian,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--brand_color);
}

.home_section_startToPlay_wrap {
	align-items: center;
	display: flex;
	background-color: var(--brand_color);
	line-height: 24px;
	width: 100%;
}

.home_section_startToPlay_btn {
    color: #000;
    column-gap: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 20px 24px 20px 0;
}

.home_section_StartToPlay_text {
	border-left: 1px solid black;
	padding: 4px 0 4px 24px;

}

.home_advantages {
	padding:136px 0 144px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1152px;
	padding-left: calc(var(--gutter)/2);
	padding-right: calc(var(--gutter)/2);
	width: 100%;

}

.home_advantages_wrap {
	align-items: center;
	display: flex;
	margin-bottom: 112px;
}

.home_advantages_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 24px;
}

.home_advantages_description {
	margin-bottom: 56px;
}

.home_advantages_colLeft {
	width: 50%;
}

.home_advantages_colRight {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	align-items: center;
	border-radius: 8px;
	column-gap: 8px;
	display: inline-flex;
	font-size: 16px;
	justify-content: center;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	transition: .25s ease-out;
	user-select: none;
	vertical-align: middle;
}

.btn_white {
	background-color: #eee;
	color: #333;
	padding: 16px 32px;
	font-size: 20px;
}


.white_border_btn {
background: rgba(255, 255, 255, 0.002);
box-shadow: inset 0px 0px 0px 1px #FFFFFF;
border-radius: 8px;
padding:  16px 32px;
}

.home_advantages_colRight {
  display: flex;
}

.home_advantages_devicelist {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 24px;
	justify-content: flex-end;
}

.home_advantages_devicelistItem {
	background-color: #333;
	border-radius: 8px;
	box-shadow: 0 2px 20px #0000004f;
	padding: 32px;
	user-select: none;
	flex-shrink: 0;
}

.home_advantages_hexagon {
	z-index: -10;
}

.home_advantages_laptop_wrap {
	position: absolute;
	height: auto;
	bottom: 48px;
  left: 0;
  right: 0;
}

.home_advantages_video {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	left: 49.5%;
	position: absolute;
	top: 6px;
	transform: translateX(calc(-50% + 1px));
	width: 68%;
}

.hexagon_wrap {
	position: relative;
}

.homeSubscriptions_wrap {
	position: relative;
	display: flex;
	
}

.homeSubscriptions_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 16px;
	text-align: center;
}

.homeSubscriptions_text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 48px;
	text-align: center;
}

.subscription {
	
 	border: 1px solid var(--brand_color);
	border-radius: 16px;
	color: #FFF;
	height: 456px;
	overflow: hidden;
	padding: 32px 24px 0;
	position: relative;
}

.subscription_title {
    color: var(--brand_color);
    font-size: 32px;
    line-height: 40px;
}

.subscription_btn {
	position: absolute;
	left: 50%;
	bottom: 72px;
	width: 100%;
	color: #fff;
	transform: translate(-50%);
	background-color: var(--brand_color);
}

.subscription_duration {
	text-align: left;
	font-size: 20px;
    line-height: 24px;
    margin: 40px 0 32px;
}

.subscription_text {
	text-align: left;
}

.subscription_front {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.subscription_flip {
	position: absolute;
	background: transparent;
	border: none;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	border-bottom: #999 dotted;
	
}

.subsription_flip {
	background-color: transparent;
    border: 0;
    border-bottom: 1px dashed var(--white);
    bottom: 24px;
    color: inherit;
    cursor: pointer;
    font-size: 16px;
    left: 50%;
    line-height: 24px;
    padding: 0;
    position: absolute;
    transform: translate(-50%);
    white-space: nowrap;
}

.swiper {
	width: 1120px;
	height: 456px;
	position: relative;
  }

  .swiper-wrapper{
	width: 150%;
  }


  
.swiper-slide {
	width: 100%;
	padding: 24px 16px 0;
	border: #76B900 solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-right: 30px;
  }

.grey-slide {
	background-color: grey;
	border: none;
	color: #FFF;
}

.swiper-button {
	position: absolute !important;

}

.swiper-buttons-wrapper {
	position: relative;
	width: 100%;
}
  
.swiper-prev {
		background-image: url(/img/chevron-circle-left.svg);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
  
.swiper-next {
		background-image: url(/img/chevron-circle-right.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.swiper-prev, .swiper-next {
		background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: -24px;
    padding: 0;
    position: absolute;
    width: 40px;
    z-index: 99;
}

.swiper-prev:after, .swiper-next::after {
	opacity: 0;
}

.swiper-pagination {
    color: white;
    font-family: Rubik,Noto Sans Armenian,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-color: var(--brand_color);
    --swiper-pagination-bullet-inactive-color: grey;
    --swiper-pagination-bullet-inactive-opacity: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.homeSubscriptions_warning {
	text-align: center;
	margin-top: 48px;
	color: #999;
}

.wall {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 64px 0;
}

.wall_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 16px;
}

.wall_text {
	font-size: 18px;
    line-height: 24px;
    margin-bottom: 56px;
}

.wall_action {
	margin-bottom: 56px;
}

.wall_link{
	row-gap: 8px;
	display: flex;
    flex-direction: column;
}

.wall_row {
	animation-timing-function: linear;
    background-position: 0;
	height: 150px;
    width: 5580px;
	animation: slideGames 30s infinite;
	background-repeat: repeat-x;
		
}

.wall_row.row01 {
    animation-duration: 30s;
}

.wall_row.row02 {
    animation-duration: 40s;
}

.wall_row.row03 {
    animation-duration: 50s;
}

.row01 {
	z-index: 999;
	background-image: url(/img/row1-lg.png);

}

.row02 {
	background-image: url(/img/row2-lg.png);
}

.row03 {
	background-image: url(/img/row3-lg.png);
}

@keyframes slideGames {
	0% {
		transform: translateZ(0);
	}
	
	100% {
		transform: translate3d(-1395px,0,0);
	}
}

.homePartners {
	padding: 80px 0 64px;
}

.homePartners_wrap {
	display: flex;
    flex-wrap: wrap;
    width: 105%;	
	padding: 20px 0 64px;
}

.homePartners_title {
	margin-bottom: 80px;
	font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 80px;
    text-align: center;
}

.homePartners_item {
	margin: 15px;
	align-items: center;
    border-radius: 16px;
    display: flex;
    height: 168px;
    justify-content: center;
	background-color: #fff;
    user-select: none;
	width: 256px;
}

.homePartners_item_rt {
	background-color: #302863;
}

.homePartners_item_mvideo {
	background-color: #e30613;
}

.homePartners_item_multibonus {
	background-color: #81d4fa;
}

.footer {
	background-color: #000;
    padding: 24px 0;
    position: relative;
}

.footer_logo {
	margin-right: 48px;
}

.homeTryFree {
	background-image: url(/img/hero-xxl.jpg);
	background-position: bottom;
    background-repeat: no-repeat;
    padding: 96px 0 112px;
}

.startToPlayContainer {
	background-image: url(/img/hero-xxl.jpg);
}

.homeTryFree_title {
	font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 24px;
}
.homeTryFree_text {
	margin-bottom: 40px;
    max-width: 544px;
}

.footer_navs {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 24px 0 24px 20px;
}

.footer .navFaq li:not(:first-child) a,
.footer .navAbout li:not(:first-child) a,
.footer .navDownload li:not(:first-child) a,
.footer .navInfo li:not(:first-child) a
{
	color: #999;
  }
  
  .footer_navFaq .navFaq li:first-child,
  .footer_navAbout .navAbout li:first-child,
  .footer_navDownload .navDownload li:first-child,
  .footer_navInfo .navInfo li:first-child{
	margin-bottom: 8px;
  }
  

.navFaq {
	margin-right: 56px;
    width: 192px;
}

.navAbout {
	margin-right: 56px;
	width: 140px;
}

.navDownload {
	width: 190px;
	margin-right: 56px;
}

.footer_bottom {
	background-color: #000;
    border-top: 1px solid #999;
    padding: 16px 0;
    position: relative;
}

.footer_bottom_wrap {
	display: flex;
	justify-content: space-between;
}

.footer_bottom_social {
	margin-right: 40px;
}
.footer_bottom_company, .footer_bottom_company a {
	color: #999;
}

.footer_bottom_social a {
	color: #999;
}

.footerSocialNav a{
	padding-right: 10px;
}

.google-play-icon {
	height: 40px;
    width: 135px;
}

/* download-page css */

.download-section {
	margin-top: 150px;
}

.download-section-title {

    color: white;
    font-family: Rubik,Noto Sans Armenian,sans-serif;
    box-sizing: border-box;
    padding: 0;
    font-weight: inherit;
    overflow-wrap: break-word;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 24px;
}

.win-img  img{
    height: 88px;
    width: 88px;
	
}

.win-img {

    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
}

.download-section-btns {
	display: flex;
	margin: 0 -16px 32px;
}

.download-section-btn {
	width: 545px;
	height: 56px;
	margin: 0 auto;
}

.download-section-wrapper {
	display: flex;
	justify-content: space-between;
}


.download-section-info a, .download-section-wrapper a {
	color: #999;
	text-decoration: underline;
}

.download-section-info {
	display: flex;
	flex-direction: column;
	padding: 0 0 48px;
	line-height: 34px;
}

.download-text {
	font-size: 20px;
}



.download-section-divider {
	color: white;
    height: 2px;
    margin: 0 0 40px;
    width: 100%;
	background-color: #333;
}

.download-section-text p {
	margin-bottom: 24px;
}

.container .h3 {
	margin-bottom: 24px;
}

/* welcome page */

.welcome-section {
  padding-top: 160px;
  background-image: url(/img/hero-xl.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 804px;
  background-attachment: inherit;
}

.welcome-section-cloud{
	height: 870px;
}

.welcome-section-cloud .container {
	margin-top: 88px;
}


.welcome-section-title {
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	margin-bottom: 32px;
	text-transform: uppercase;
}

.welcome-section-text{
font-size: 32px;
    line-height: 40px;

		width: 736px;

}

.welcome-section-more {
font-size: 24px;
height: 96px;
padding-bottom: 164px;
}





	@keyframes arrow-down {
		0% {
			border-color: white;
    opacity: .6;
    transform: translate(0);
		}
		20% {
			border-color: white;
			opacity: .8;
			transform: translate(12px,12px);
		}
		20.1%, 100% {
			border-color: grey;
			opacity: 1;}
	};







	.welcome-section-cloud-title {
		font-family: 'Rubik',sans-serif;
		font-size: 40px;
line-height: 48px;
font-style: normal;
font-weight: 400;
padding-bottom: 25px;

	}


	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	  }
	  
	  .row p,
	  .row a {
		margin: 0;
	  }
	  
		.row p {
			width: 70%;
		}

		.green-link {
			align-items: start;
			color: var(--brand_color);
			border-bottom: 1px dashed #76B900;
		}

		.welcome-swiper-container {
			width: 100%;
			height: 100%;
		}
		
		.welcome-swiper-slide {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
		}
		
		.column {
			width: 48%;
			height: 100%;
			margin-bottom: 20px;
			background-color: #eee;
		}