@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-Italic-VariableFont_wght.ttf');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Rubik";
	src: url('fonts/Rubik-VariableFont_wght.ttf');
	font-weight: 500;
	font-style: normal;
}
:root {
	--rubik: "Rubik", sans-serif;
	--brand-color: #76B900;
	--gutter: 24px;
	--gap: 24px;
}
button {
	border:none;
}
canvas, iframe, img, picture, svg, video {
	max-width: 100%;
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6, p {
	overflow-wrap: break-word;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: "Rubik", sans-serif;
	color: white;
	box-sizing: border-box;
}
body {
	font-family: Noto Sans Armenian,Rubik,sans-serif;
	background-color: #111;
	position: relative;
	overflow-x: hidden;
	user-select: none;
	
}
div {
	display: block;
}
.content {
	margin: 0 auto;
	max-width: 1920px;
	box-sizing: border-box;
	background-color: #111;
	font-weight: 400;
	line-height: 24px;
}
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #999;
	width: 100%;
	max-width: 100%;
}
.nav_item {
	font-size: 16px;
	display: inline-flex;
	padding-right: 24px;
}
.nav_item_link {
	color: #999;
}
.nav_item_link:hover {
	color: #fff;
	transition: .3s;
}
.headerMenu_link {
	display: flex;
	height: 16px;
	margin-left: 8px;
	width: 16px;
}
.header {
	font-family: Rubik,Noto Sans Armenian,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	align-items: center;
	background-color: #1a1a1a;
	color: #1a1a1a;
	display: flex;
	height: 72px;
	left: 0;
	padding-left: 24px;
	padding-right: 24px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.logo {
	width: 258px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}
.header_left {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown:hover .dropdown_menu {
	display: block;
}
.dropdown_menu {
	display: none;
	position: absolute;
	z-index: -10;
	margin-top: 50%;
	background-color: #fff;
	list-style: none;
}
.dropdown_menu li {
	white-space: nowrap;
	margin: 12px 50px;
}
.dropdown_menu a {
	color: #1a1a1a;
}
.dropdown_menu a:hover {
	color: var(--brand-color);
	transition: .3s;
}
.nav_item {
	position: relative;
}
.nav_item .dropdown_menu {
	position: absolute;
}
.header_right {
	font-family: Rubik,Noto Sans Armenian,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--grey-200);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	align-items: center;
	display: flex;
	margin-left: auto;
	position: relative;
}
.button {
	background-color: transparent;
	border: 8px solid transparent;
	border-radius: 8px;
	margin-right: 16px;
	transition: .3s;
}
.button:hover {
	background-color: #1a1a1a;
	border-color: #2b2b2b;
}
.avatar {
	margin-right: 12px;
}
.login {
	line-height: 24px;
}
.header_right_divider {
	border-right: 1px solid #2e2e2e;
	height: 44px;
	margin-right: 16px;
}

.burger {
	display: none;
	padding: 8px;

}
.burger:hover {
	border-radius: 6px;
	background-color: #2e2e2e;
	
}

/* sidebar */
.sidebar-wrap {
	margin-top: 72px;
}

.sidebar {
	background-color: #222;
	flex: 1;
	display: none;
	height: 2000px;
	padding: 16px 24px;
	position: absolute;
	right: 0;
	z-index: 111;
	user-select: none;
	top: 0;
}
.sidebar a {
	margin-bottom: 16px;
	cursor: pointer;
	
}
.auth-wrap {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	width: 240px;
}

.sidebarItem {
	display: flex;
	width: 240px;
	height: 48px;
}
.sidebarItem span {
	/* margin-left: 12px; */
}

.sidebar svg {
	margin-right: 10px;
}

/* sidebar dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 240px;
  z-index: 222;
	top: 290px;
	border-radius: 12px;
}

.dropdown-content.show {
  display: block;
	margin-bottom: 100px;
}
	
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #222;
}

.dropdown-btn {
  cursor: pointer;
}

.guide-arrow-icon {
  margin-left: auto;
}


  /* Menu styles */
  .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #fff;
  }
  
.menu ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
 
.menu li {
	margin: 0 1rem;
  }
.menu a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
  }
.home_section {
	margin-top: 0;
	min-height: 736px;
	padding: 184px 0 0;
	position: relative;
}
.home_section_video {
	height: 100%;
	inset: 0;
	object-fit: cover;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.home_section_container_title {
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
	max-width: 448px;
	margin-bottom: 32px;
	text-transform: uppercase;
}
.home_section_container_description {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 48px;
	display: block;
	padding-top: 32px;
	max-width: 544px;
}
.create_account_btn, .green_btn {
	background-color: #76b900;
	border-radius: 8px;
	transition: .25s ease-out;
	padding: 16px 7px;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.login_btn {
	font-size: 20px;
	padding: 16px 32px;
	background-color: #222;
	border-radius: 8px;
	display: inline-flex;
}
.home_section_action {
	grid-template-columns: 318px 124px;
	display: grid;
	gap: 16px 32px;
	
}
.home_section {
	min-height: 736px;
	padding: 184px 0 0;
	position: relative;
}

.home_section_container_title {
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
	max-width: 448px;
	margin-bottom: 32px;
	text-transform: uppercase;
}
.home_section_container_description {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 48px;
	display: block;
	padding-top: 32px;
	max-width: 544px;
}
.create_account_btn, .green_btn {
	background-color: #76b900;
	border-radius: 8px;
	transition: .25s ease-out;
	padding: 16px 7px;
	justify-content: center;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.login_btn {
	font-size: 20px;
	padding: 16px 32px;
	background-color: #222;
	border-radius: 8px;
	display: inline-flex;
}
.home_section_action {
	grid-template-columns: 318px 124px;
	display: grid;
	gap: 16px 32px;
}
.home_section_startToPlay {
	color: white;
	font-family: Rubik, Noto Sans Armenian,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: var(--brand-color);
}
.home_section_startToPlay_wrap {
	align-items: center;
	display: flex;
	background-color: var(--brand-color);
	line-height: 24px;
	width: 100%;
}
.home_section_startToPlay_btn {
	color: #000;
	column-gap: 8px;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	padding: 20px 24px 20px 0;
}
.home_section_StartToPlay_text {
	border-left: 1px solid black;
	padding: 4px 0 4px 24px;
}
.home_advantages {
	padding:136px 0 144px;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1152px;
	padding-left: calc(var(--gutter)/2);
	padding-right: calc(var(--gutter)/2);
	width: 100%;
}
.home_advantages_wrap {
	align-items: center;
	display: flex;
	margin-bottom: 112px;
	width: 100%;
}
.home_advantages_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 24px;
}
.home_advantages_description {
	margin-bottom: 56px;
}
.home_advantages_colLeft {
	width: 50%;
}
.home_advantages_colRight {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
.btn {
	align-items: center;
	border-radius: 8px;
	column-gap: 8px;
	display: inline-flex;
	font-size: 16px;
	justify-content: center;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
}

.btn:hover{
	transition: .25s;
	opacity: .8;
}
.btn_white {
	background-color: #eee;
	color: #333;
	padding: 16px 32px;
	font-size: 20px;
}
.white_border_btn {
	background: rgba(255, 255, 255, 0.002);
	box-shadow: inset 0px 0px 0px 1px #FFFFFF;
	border-radius: 8px;
	padding: 16px 32px;
}
.home_advantages_colRight {
	display: flex;
}
.home_advantages_devicelist {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 24px;
	justify-content: center;
}
.home_advantages_devicelistItem {
	background-color: #333;
	border-radius: 8px;
	box-shadow: 0 2px 20px #0000004f;
	padding: 32px;
	user-select: none;
	flex-shrink: 0;
}
.home_advantages_hexagon {
	z-index: -10;
}
.home_advantages_laptop_wrap {
	position: absolute;
	height: auto;
	bottom: 48px;
	left: 0;
	right: 0;
}
.home_advantages_video {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	left: 49.5%;
	position: absolute;
	top: 6px;
	transform: translateX(calc(-50% + 1px));
	width: 68%;
}
.hexagon_wrap {
	position: relative;
}
.homeSubscriptions_wrap {
	position: relative;
	display: flex;
}
.homeSubscriptions_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 16px;
	text-align: center;
}
.homeSubscriptions_text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 48px;
	text-align: center;
}
.subscription {
	border: 1px solid var(--brand-color);
	border-radius: 16px;
	color: #FFF;
	height: 456px;
	overflow: hidden;
	padding: 32px 24px 0;
	position: relative;
}
.subscription_title {
	color: var(--brand-color);
	font-size: 32px;
	line-height: 40px;
}
.subscription_btn {
	position: absolute;
	left: 50%;
	bottom: 72px;
	width: 100%;
	color: #fff;
	transform: translate(-50%);
	background-color: var(--brand-color);
}
.subscription_duration {
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	margin: 40px 0 32px;
}
.subscription_text {
	text-align: left;
}
.subscription_front {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.subscription_flip {
	position: absolute;
	background: transparent;
	border: none;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	border-bottom: #999 dotted;
}
.subsription_flip {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed var(--white);
	bottom: 24px;
	color: inherit;
	cursor: pointer;
	font-size: 16px;
	left: 50%;
	line-height: 24px;
	padding: 0;
	position: absolute;
	transform: translate(-50%);
	white-space: nowrap;
}
.swiper {
	width: 1120px;
	height: 456px;
	position: relative;
}
.swiper-wrapper{
	width: 150%;
}
.swiper-slide {
	width: 100%;
	padding: 24px 16px 0;
	border: #76B900 solid;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-right: 30px;
}
.grey-slide {
	background-color: grey;
	border: none;
	color: #FFF;
}
.swiper-button {
	position: absolute !important;
}
.swiper-buttons-wrapper {
	position: relative;
	width: 100%;
}
.swiper-prev {
	background-image: url(../img/chevron-circle-left.svg);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.swiper-next {
	background-image: url(../img/chevron-circle-right.svg);
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.swiper-prev, .swiper-next {
	background-color: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
	height: 40px;
	margin-top: 0;
	padding: 0;
	position: absolute;
	width: 40px;
	z-index: 99;
}
.swiper-prev:after, .swiper-next::after {
	opacity: 0;
}
.swiper-pagination {
	color: white;
	font-family: Rubik,Noto Sans Armenian,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--swiper-pagination-bullet-horizontal-gap: 8px;
	--swiper-pagination-color: var(--brand-color);
	--swiper-pagination-bullet-inactive-color: grey;
	--swiper-pagination-bullet-inactive-opacity: 1;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	bottom: 10px;
	left: 0;
	width: 100%;
}
.homeSubscriptions_warning {
	text-align: center;
	margin-top: 48px;
	color: #999;
}
.wall {
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 64px 0;
}
.wall_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 16px;
}
.wall_text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 56px;
}
.wall_action {
	margin-bottom: 56px;
}
.wall_link{
	row-gap: 8px;
	display: flex;
	flex-direction: column;
}
.wall_row {
	animation-timing-function: linear;
	background-position: 0;
	height: 150px;
	width: 5580px;
	animation: slideGames 30s infinite;
	background-repeat: repeat-x;
}
.wall_row.row01 {
	animation-duration: 30s;
}
.wall_row.row02 {
	animation-duration: 40s;
}
.wall_row.row03 {
	animation-duration: 50s;
}
.row01 {
	z-index: 999;
	background-image: url(../img/row1-lg.png);
}
.row02 {
	background-image: url(../img/row2-lg.png);
}
.row03 {
	background-image: url(../img/row3-lg.png);
}
@keyframes slideGames {
	0% {
			transform: translateZ(0);
 }
	100% {
			transform: translate3d(-1395px,0,0);
 }
}
.homePartners {
	padding: 80px 0 64px;
}
.homePartners_wrap {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	justify-content: center;

}
.homePartners_title {
	margin-bottom: 80px;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 80px;
	text-align: center;
}
.homePartners_item {
	margin: 15px;
	align-items: center;
	border-radius: 16px;
	display: flex;
	height: 168px;
	width: 256px;
	justify-content: center;
	background-color: #fff;
	user-select: none;
}
.homePartners_item_rt {
	background-color: #302863;
}
.homePartners_item_mvideo {
	background-color: #e30613;
}
.homePartners_item_multibonus {
	background-color: #81d4fa;
}
.footer {
	background-color: #000;
	padding: 24px 0;
	position: relative;
	user-select: none;
}
.footer_logo {
	margin-right: 48px;
}
.homeTryFree {
	background-image: url(../img/hero-xxl.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 96px 0 112px;
}
.startToPlayContainer {
	background-image: url(../img/hero-xxl.jpg);
}
.homeTryFree_title {
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 24px;
}
.homeTryFree_text {
	margin-bottom: 40px;
	max-width: 544px;
}
.footer_navs {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 24px 0 24px 20px;
}
.footer .navFaq li:not(:first-child) a, .footer .navAbout li:not(:first-child) a, .footer .navDownload li:not(:first-child) a, .footer .navInfo li:not(:first-child) a {
	color: #999;
}
.footer_navFaq .navFaq li:first-child, .footer_navAbout .navAbout li:first-child, .footer_navDownload .navDownload li:first-child, .footer_navInfo .navInfo li:first-child{
	margin-bottom: 8px;
}
.navFaq {
	margin-right: 56px;
	width: 192px;
}
.navAbout {
	margin-right: 56px;
	width: 140px;
}
.navDownload {
	width: 190px;
	margin-right: 56px;
}
.footer_bottom {
	background-color: #000;
	border-top: 1px solid #999;
	padding: 16px 0;
	position: relative;
}
.footer_bottom_wrap {
	display: flex;
	justify-content: space-between;
}
.footer_bottom_social {
	margin-right: 40px;
}
.footer_bottom_company, .footer_bottom_company a {
	color: #999;
}
.footer_bottom_social a {
	color: #999;
}
.footerSocialNav a{
	padding-right: 10px;
}
.google-play-icon {
	height: 40px;
	width: 135px;
}
/* download-page styles */
.download-section {
	padding-top: 150px;
	margin-bottom: 80px;
}
.download-section-title {
	color: white;
	font-family: Rubik,Noto Sans Armenian,sans-serif;
	box-sizing: border-box;
	padding: 0;
	font-weight: inherit;
	overflow-wrap: break-word;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 24px;
}
.win-img img{
	height: 88px;
	width: 88px;
}
.win-img {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	text-align: center;
}
.download-section-btns {
	display: flex;
	margin: 0 -16px 32px;
}
.download-section-btn {
	width: 545px;
	height: 56px;
	margin: 0 auto;
}
.download-section-wrapper {
	display: flex;
	justify-content: space-between;
}
.download-section-info a, .download-section-wrapper a {
	color: #999;
	text-decoration: underline;
}
.download-section-info {
	display: flex;
	flex-direction: column;
	padding: 0 0 48px;
	line-height: 34px;
}
.download-text {
	font-size: 20px;
}
.download-section-divider {
	color: white;
	height: 2px;
	margin: 0 0 40px;
	width: 100%;
	background-color: #333;
}
.download-section-text p {
	margin-bottom: 24px;
}
.container .h3 {
	margin-bottom: 24px;
}
/* welcome page */
.welcome-section {
	padding-top: 160px;
	background-image: url(../img/hero-xl.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 804px;
	background-attachment: inherit;
}
.welcome-section-cloud{
	height: 870px;
	background-color: #000;
	padding-top: 88px;
}
.welcome-section-title {
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	margin-bottom: 32px;
	text-transform: uppercase;
}
.welcome-section-text{
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 316px;
	width: 736px;
}
.welcome-section-more {
	font-size: 24px;
	height: 96px;
}
@keyframes arrow-down {
	0% {
			border-color: white;
			opacity: .6;
			transform: translate(0);
 }
	20% {
			border-color: white;
			opacity: .8;
			transform: translate(12px,12px);
 }
	20.1%, 100% {
			border-color: grey;
			opacity: 1;
 }
};
.welcome-section-cloud-title {
	font-family: 'Rubik',sans-serif;
	font-size: 32px;
	line-height: 48px;
	font-style: normal;
	font-weight: 500;
	padding-bottom: 25px;
}
.welcome-text {
	font-size: 18px;
	line-height: 24px;
	padding-top: 25px;
}

.welcome-section-cloud{
	height: 870px;
	background-color: #000;
	padding-top: 88px;
}

.welcome-section-title {
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	margin-bottom: 32px;
	text-transform: uppercase;
}

.welcome-section-text{
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 316px;
	width: 736px;
}

.welcome-section-more {
	font-size: 24px;
	height: 96px;
}

@keyframes arrow-down {
	0% {
			border-color: white;
			opacity: .6;
			transform: translate(0);
 }
	20% {
			border-color: white;
			opacity: .8;
			transform: translate(12px,12px);
 }
	20.1%, 100% {
			border-color: grey;
			opacity: 1;
 }
};

.welcome-section-cloud-title {
	font-family: 'Rubik',sans-serif;
	font-size: 32px;
	line-height: 48px;
	font-style: normal;
	font-weight: 500;
	padding-bottom: 25px;
}

.welcome-text {
	font-size: 18px;
	line-height: 24px;
	padding-top: 25px;
}



.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row p, .row a {
	margin: 0;
}
.row p {
	width: 70%;
}
.green-link, .welcome-green-link {
	align-items: start;
	color: #76B900;
	border-bottom: 1px dashed #76B900;
}
.how-it-works {
	margin-top: 122px;
	font-size: 24px;
	line-height: 32px;
	color: #999;
}
.welcome-swiper {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 22px;
}
.slide-wrapper {
	display: flex;
	justify-content: space-between;
}
.welcome-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	border: none;
}
.slider-content {
	display: block;
}
.slider-number {
	font-size: 24px;
	border: 2px solid #76B900;
	border-radius: 60px;
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	padding: 10px 17px;
	margin-right: 16px;
}
.slide-title {
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
}
.slide-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-top: 16px;
	margin-bottom: 40px;
}
.col1, .col2 {
	width: 42%;
	height: 100%;
	display: flex;
}
.btn-outline {
	background: none;
	border: 2px solid white;
	border-radius: 8px;
	padding: 8px 16px;
}

/* welcome-games section */

.text {
	font-family: var(--rubik);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 33px;
}

.white-section {
	background-color: #fff !important;
	color: #000;
}

.black-section {
	background-color: #111 !important;
	color: #fff;
}

.welcome-games {
	background-color: #fff;
}

.welcome-games p, .welcome-games h2, .welcome-games h3 {
	color: #000;
}

section.welcome-games {
	height: auto;
}

.welcome-games-title {
	padding-top: 80px;
  font-size: 40px;
	line-height: 48px;
}

.welcome-games-subtitle{
	font-size: 24px;
	line-height: 32px;
}

.welcome-games-wrapper {
	display: flex;
}

.welcome-games-subtitle {
	padding-top: 65px;
}

.welcome-games-text {
	padding-top: 16px;
}

/* welcome-access section*/

.welcome-access {
	padding-top: 88px;
	height: auto;
}

.welcome-access-subtitle {
	margin-top: 34px;
}

.countries {

	margin-top: 17px;
	margin-bottom: 80px;
}

.country-item {
	list-style: disc;
	margin: 10px;
	font-size: 18px;
	line-height: 24px
}

.title {
	font-size: 40px;
	line-height: 48px;
}

.map-container {
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;

	width: 100%;
	position: relative;
}

.server-1, .server-2, .server-3 {
	position: absolute;
	z-index: 123;
	width: 51px;
}

.server-1 {
	left: 36%;
	top: 42%;
}

.server-2 {
	left: 46%;
	top: 40%;
}

.server-3 {
	left: 56%;
	top: 45%;
}

.server-1:after, .server-2:after, .server-3::after {
	background: url(../img/beam.png) 50% 50% no-repeat;
	animation: beam 1.5s linear infinite;
	left: 25px;
	top: 18px;
  content: "";
  height: 200px;
  position: absolute;
	background-attachment: fixed; 
  width: 200px;
  z-index: 11;
}

.server1-tooltip, .server2-tooltip, .server3-tooltip {
  background: #f7f7f7;
  border-radius: 3px;
  color: black;
  display: none;
  font-size: 12px;
  left: 50%;
  line-height: 14px;
  padding: 16px;
  position: absolute;
  top: -72px;
  transform: translate(-50%);
  width: 280px;
  z-index: 223;
}

.server-1:hover .server1-tooltip, .server-2:hover .server2-tooltip,.server-3:hover .server3-tooltip {
  display: block;
}

@keyframes beam {
	0% {
			transform: translate(-50%,-50%) scale(.65)
	}
	to {
			transform: translate(-50%,-50%) scale(1)
	}
}

.access-divider {
	height: 2px;
	width: 100%;
	background-color: #333;
	margin-top: 60px;
}

.req-col {
	width: 50%;
}

.col-wrapper {
	display: flex;
}

.req-title {
	padding-top: 64px;
	margin-bottom: 40px;
}

.req-text {
	font-size: 18px;
	margin-top: 20px;
}

.dropdown-btn {
	margin-top: 20px;
	cursor: pointer;
	width: 352px;
}

.dropdown-btn svg {
	margin: 0 12px;
}

.dropdown-menu {
	position: relative;
}

.menu-list {
	background-color: #eee;
	border-radius: 6px;
	display: none;
	left: 0;
	position: absolute;
	top: 10px;
	width: 352px;
}

.dropdown-menu-item {
	padding: 15px;
	cursor: pointer;
}

.dropdown-menu-item:hover {
	background-color: #c8c8c8;
	border-radius: inherit;
}

.dropdown-menu-item span{
	color: #000;
	font-size: 16px;
	margin-left: 12px;
}

.dropdown-menu-list:hover {
	display: block;
}

.req-list li{
	font-size: 18px;
	list-style: disc;
	padding-top: 8px;
}

.req-list {
	margin-bottom: 80px;
}

.swiper-list {
	white-space: nowrap;
}
.ticker-container {
	display: flex;
	position: relative;
	overflow: hidden;
	background-color: #000;
	padding: 80px 0;
  }

  .ticker-list {
	display: flex;
  }
  
  .ticker-item {
	
	white-space: nowrap;
	flex-shrink: 0;
	animation: ticker 20s linear infinite;
  }

  .ticker-item img {
	width: 250px;

  }
  
  @keyframes ticker {
	0% {
	  transform: translateZ(0);
	}
	to {
	  transform: translate3d(-100%, 0, 0);
	}
  }
  
/* support section */

.support-section {
	padding-top: 180px;
	text-align: center;
}

.support-section .title {
	font-size: 48px;
	margin-bottom: 20px;
}

.support-section .subtitle {
	font-size: 24px;
}

.support-wrapper {
	display: flex;
	justify-content: center;
	text-align: left;
	margin-top: 60px;
	width: 100%;
	margin-bottom: 100px;
}

.support-card {
	width: 40%;
}

.support-title {
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.support-card li {
	font-size: 18px;
	padding-top: 10px;
}

/* guide-section */
.guide-wrap {
	padding-top: 40px;
	margin: 80px 0;
	display: flex;
	color:white;
  font-family: Noto Sans Armenian,Rubik,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
.guide-wrap li {
	list-style: disc;
}

.guide-wrap p {
	margin: 0 0 16px;
}

.guide-sidebar-col {
	display: flex;
	flex-direction: column;
	width: 256px;
	height: calc(56px * 8);
	margin: 0 16px;
	}
.guide-sidebar-col a:first-child {
	background-color: #222;
  color: var(--brand-color);
} 	

.guide-sidebar-col a:nth-child(1),
.guide-sidebar-col a:nth-child(2) {
	background-color: black;
}

.guide-sidebar-col a:nth-child(1):hover,
.guide-sidebar-col a:nth-child(2):hover {
	background-color: #222;
}

.bar-item {
	padding: 16px 12px;
	background-color: #222;
	margin-bottom: 1px;
}

.bar-item:hover {
	background-color: #1a1a1a;
	transition: .3s linear;
}

.h3-text-title {
	color: var(--brand-color);
	font-size: 32px;
	line-height: 40px;
	margin: 24px 0 8px;
}

.h4-text-title {
	color: var(--brand-color);
	font-size: 24px;
  line-height: 32px;
	margin: 24px 0 8px;
}

.h5-text {
	margin: 24px 0 8px;
}

.guide-list {
	margin-bottom: 20px;
}

.guide-list li {
	list-style: disc;
}

.guide-list a {
	text-decoration: underline;
}
.guide-list a:hover {
	text-decoration: none;
}

.guide-content {
	margin: 0 16px;
	padding-left: 40px;
}
.guide-btn {
	padding: 8px;
	width: 100%;
}

@media only screen and (max-width: 1399.98px){
	.home_section {
		min-height: 524px;
		padding: 96px 0 0;
	}
}

@media only screen and (max-width: 1200px) {
	.home_advantages_wrap {
		min-width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

.header_right_divider, .login-wrapper {
		display: none;
	}
	.burger {
		display: block;
	}

	.home_advantages {
		margin: 0 auto;
	}
	.home_advantages_title, .home_section_action {
		width: 100%;
		margin-top: 40px;
	}
	.home_advantages_devicelist {
		margin-top: 40px;
	}
	.home_advantages_colRight {
		text-align: center;
	}
	.welcome-section {
		height: 604px;
	}
	.nav {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.home_advantages_colRight {
		width: auto;
		justify-content: center;
		text-align: center;
}
	.footer_logo {
		width: 90%;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.welcome-section {
		height: 504px;
		padding-top: 120px;
	}
	.container {
	    max-width: 100%;
		display: flex;
  		flex-direction: column;
	}
	.home_advantages_colRight {
	transform: scale(0.7);
	}
	.home_advantages_laptop_wrap {
		width: 100%;
		height: auto;
	}
	.wall_row.row01, .wall_row.row02, .wall_row.row03 {
		height: 100px;
	}
	.col-wrapper {
		flex-direction: column;
	}
	.green_btn {
		width: auto;
	}
	.google-play-icon {
		display: none;
	}
	.footer_bottom_wrap {
		display: inline-block;
	}
}

@media only screen and (max-width: 768px) {
.slide-wrapper {
	display: flex;
	flex-wrap: wrap;
  }
  .slide-wrapper img {
	width: 70%;
	margin: 50px;
  }  
  .col1, .col2 {
	flex-basis: 100%;
  }
.welcome-section-cloud {
	height: 1100px;
}
	.home_section {
	    min-height: auto;
	    padding: 120px 0;
	}
	.home_section_container_title {
	    font-size: 36px;
	    line-height: 42px;
	    margin-bottom: 24px;
	}
	.home_section_container_description {
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 32px;
	    padding-top: 24px;
	    max-width: none;
	}
	.create_account_btn, .green_btn {
	    font-size: 16px;
	}
	.login_btn {
	    font-size: 16px;
	    text-align: center;
		justify-content: center;
	}
	.home_section_action, .home_section {
	  	display: flex;
		flex-direction: column;
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}
	.home_section_video {
		height: 272px;
    	top: auto;
	}
	.home_section {
		width: 100%;
		margin: -20px auto;
	}

	.home_advantages {
		padding-top: 20px;
	}

	.home_section:after {
    background-image: linear-gradient(180deg,black 0,black 63%,rgba(0,0,0,.13) 83%,transparent 100%);
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
}

	.home_section_container_title {
		max-width: 1920px;
		text-align: center;
	}
	.home_section_startToPlay_wrap {
		display: block;
		text-align: center;
}
.home_section_StartToPlay_text {
		display: none;
}
	.homeTryFree {
		padding: 48px 0;
		background-position: center bottom;
	}
	.home_section_startToPlay_wrap {
		line-height: 54px;
	}
	.homeTryFree_title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 16px;
	}
	.homeTryFree_text {
		margin-bottom: 24px;
		max-width: 100%;
	}
	.footer_navs {
		padding: 16px 0 16px 20px;
	}
	.navFaq {
		margin-right: 32px;
		width: auto;
	}
	.navAbout {
		margin-right: 32px;
		width: auto;
	}
	.navDownload {
		width: auto;
		margin-right: 32px;
	}
	.google-play-icon {
		height: 32px;
		width: 108px;
	}

	.welcome-section {
		height: 404px;
		padding-top: 80px;
	}
	.welcome-games-wrapper {
		display: block;
	
	}	
	.welcome-section-title {
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 24px;
	}
	.welcome-section-text {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 208px;
		width: 100%;
	}	
	.welcome-section-more {
		font-size: 20px;
		height: 72px;
	}
	.welcome-cloud-title {
		font-size: 24px;
		line-height: 36px;
		padding-bottom: 16px;
	}
	.welcome-text {
		font-size: 16px;
		line-height: 20px;
		padding-top: 16px;
	}

	.swiper-pagination {
		left: -18%;	
	}
	.welcome-pagination {
		left: 0;
	}
	.swiper-next {
		right: 400px !important;
	}	
	.home_advantages_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;
	}
	.home_advantages_colLeft,
	.home_advantages_colRight {
		text-align: center;
		margin-top: 40px;
	}
	.home_advantages_title {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 16px;
		margin: 0 auto;
	}
	.home_advantages_description {
		font-size: 16px;
		line-height: 24px;
	}
	.home_advantages_devicelist {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 24px;
		margin-bottom: 48px;
		max-width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.homePartners_item {
	  flex-basis: 25%;
	  max-width: 100%;
	}
	.download-section-btns {
		display: inline-block;
		text-align: center;
		width: 100%;
		}
		.download-section-btn{
			width: 50%;
			margin-top: 12px;
		}
		.download-section-wrapper {
			display: block;
		}
  }

@media screen and (max-width: 992px) {
	.homePartners_item {
	  flex-basis: 20%;
	  max-width: 100%;
	  transform: scale(.9);
	  height: 100px;
	  width: 120px;
	}
  }
  /* footer adaptive */
	.footerNav__title {
		display: none;
	}

	@media screen and (max-width: 990px) {
		.footer_navs {
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: space-between;
		}
		.footer_navs li {
			width: 100%;
			border-bottom: 1px solid #222;
		}

		.navFaq li:not(:first-child),
		.navAbout li:not(:first-child),
		.navDownload li:not(:first-child),
		.footer_navInfo li:not(:first-child)
		{
			display: none;
		}	
			.footer_navs li {
				display: none;
			}
		
		.footerNav__title {
			width: 100%;
			cursor: pointer;
			display: flex;
			color: white;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 8px;
			border-bottom: 1px solid #222;
			justify-content: space-between;
		}
	}

	@media (max-width: 570px) {
		.footer_logo {
			display: none;
		}
	}

	@media (max-width: 375px) {
		.logo {
			width: 160px;
	}
	.white_border_btn {
		width: 20%;
	}
	}

/* mobile */

@media screen and (max-device-width: 412px) {

	.home_advantages_laptop {
		max-width: 68%;

	}
	.home_section_startToPlay_wrap {
		text-align: center;
		justify-content: center;
		padding: 0;
	}
	.logo {
		width: 190px;
	}

	.container {
		display: block;
		
		width: 100%;
		min-width: 360px;
	}
	.white_border_btn {
		width: 20%;
	}
	.white_border_btn {
		padding: 16px 16px;
	}
	.home_advantages {
		padding: 0;
	}
	.home_advantages_wrap{
		margin: 0;
		margin-bottom: 0;
		min-width: 375px;
	}
	.homePartners {
		padding: 0;
	}
	.homePartners_title {
		font-size: 24px;
	}
	.home_advantages_colLeft {
		width: 77%;
  }
.home_advantages_colLeft, .home_advantages_colRight {
	max-width: 100%;
    order: -1;
    width: 360px;
}

img, .home_advantages_video {
	height: auto;
	width: auto;
}

  .btn_white {
	padding: 12px;
  }
  .wall_text {
	margin-bottom: 24px;
  }
  .homePartners_title {
	margin-bottom: 40px;
  }
  .home_section_container_title {
    font-size: 28px;
}
.white_border_btn {
	padding: 16px 16px;
}
.swiper-container {
	width: 375px;
}
.swiper-slide {
	width: 359px;
	height: 392px;
}
.home_advantages_colRight {
	width: 360px;
	padding: 24px 16px 0;
}
.green-btn, .btn {
	font-size: 20px;
    padding: 16px 32px;
}
.homeTryFree {
	padding: 64px 0 178px;
}
.footerSocialNav {
	width: 100%;
	justify-content: space-between !important;
}
}


